certifi==2025.1.31        # via requests
charset-normalizer==3.4.1  # via requests
click==8.1.8              # via typer
idna==3.10                # via requests
pyyaml==6.0.2             # via docker_rate_limit_check (pyproject.toml)
requests==2.32.4          # via docker_rate_limit_check (pyproject.toml)
shellingham==1.5.4        # via docker_rate_limit_check (pyproject.toml)
typer==0.9.4              # via docker_rate_limit_check (pyproject.toml)
typing-extensions==4.13.0  # via docker_rate_limit_check (pyproject.toml), typer
urllib3==2.2.3            # via requests
